# Streamlit Frontend Web App
streamlit==1.50.0

# AI & LLM Engine
langchain-core==0.3.86
langchain-google-genai==2.0.10
langchain-qdrant==0.2.1
langchain-text-splitters==0.3.11
qdrant-client==1.16.1

# PDF, Table & Multi-Modal Document Processing
unstructured==0.18.3
pdfminer.six>=20231228
pypdf==6.16.2
pypdfium2==5.13.0

# Environment Variables
python-dotenv==1.2.1
